name: Deploy to VPS_QUICKO

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1
        with:
          host: 51.75.74.204
          username: quicko
          key: ${{ secrets.QUICKO_SSH_PRIVATE_KEY }}
          script: |
            cd /var/www/quicko.rw
            git pull origin main
            npm install
            npm run build
            pm2 restart quicko.rw
